ball_dataset/*.npz
results/*
data/*
tokenizer/*
wandb/*
*.pyc
standard_walks.json
corpus.txt
logs/*.log
data.zip
*.wandb
*.log
*/wandb/*
data/*
src/data/data/youyoung/amazon_ratings/
src/data/data/youyoung/roman_empire/
*.pt
*.npz
*.allx
*.ally
*.index
*.graph
*.tx
*.ty
*.x
*.y